.landing-page-design {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .landing-page-design .div {
    background-color: #ffffff;
    height: 6940px;
    position: relative;
    width: 1440px;
  }
  .landing-page-design .group {
    height: 48px;
    left: 180px;
    top: 53px;
    width: 1176px;
    align-items: center;
    display: inline-flex;
    gap: 500px;
    justify-content: center;
    padding: 10px 0px;
    position: relative;
  }
  .landing-page-design .corner-text-image{
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    position: relative;
  
  }
  .landing-page-design .group-59 {
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
  }
  .landing-page-design .text-design {
    white-space: nowrap;
    color: #131318;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  }
  .landing-page-design .travel {
    color: #FF5400;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  }
  .landing-page-design .navbar {
    align-items: center;
    display: inline-flex;
    gap: 44px;
    justify-content: center;
    position: relative;
  }
  .landing-page-design .text-wrapper {
    color: #ff5400;
    font-family: "Mulish-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  .landing-page-design .text-wrapper-2 {
    color: var(--dark-02);
    font-family: "Mulish-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  .landing-page-design .overlap-wrapper {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
    left: 135px;
    position: absolute;
    top: 146px;
    width: 1170px;
  }
  .landing-page-design .overlap {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%);
    border-radius: 16px;
    height: 500px;
  }
  .landing-page-design .group-2 {
    height: 288px;
    left: 185px;
    position: relative;
    top: 106px;
    width: 800px;
  }
  .landing-page-design .group-3 {
    height: 156px;
    left: 62px;
    position: absolute;
    top: 0;
    width: 680px;
  }
  .landing-page-design .text-wrapper-3 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 64px;
    font-weight: 800;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    
  }
  .landing-page-design .p {
    color: #ffffff;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 104px;
    width: 676px;
  }
  .landing-page-design .frame {
    align-items: flex-start;
    background-color: #ffffff4c;
    border-radius: 8px;
    display: inline-flex;
    gap: 24px;
    left: 0;
    padding: 16px;
    position: absolute;
    top: 204px;
  }
  .landing-page-design .div-2 {
    height: 52px;
    position: relative;
    width: 176px;
  }
  .landing-page-design .overlap-group {
    background-color: #ffffff;
    border-radius: 8px;
    height: 52px;
    position: relative;
    width: 174px;
  }
  .landing-page-design .text-wrapper-4 {
    color: #13131880;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 16px;
  }
  .landing-page-design .overlap-group-wrapper {
    height: 52px;
    position: relative;
    width: 174px;
  }
  .landing-page-design .div-wrapper {
    height: 52px;
    left: 0;
    position: absolute;
    top: 0;
    width: 176px;
  }
  .landing-page-design .text-wrapper-5 {
    color: #13131880;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
  }
  .landing-page-design .img {
    height: 24px;
    left: 135px;
    position: absolute;
    top: 14px;
    width: 24px;
  }
  .landing-page-design .group-wrapper {
    background-color: #ff5400;
    border-radius: 8px;
    height: 52px;
    position: relative;
    width: 174px;
  }
  .landing-page-design .group-4 {
    height: 24px;
    left: 35px;
    position: relative;
    top: 14px;
    width: 107px;
  }
  .landing-page-design .text-wrapper-6 {
    color: #ffffff;
    font-family: "Mulish-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2px;
  }
  .landing-page-design .img-2 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  .landing-page-design .group-5 {
    height: 466px;
    left: 135px;
    position: absolute;
    top: 746px;
    width: 583px;
  }
  .landing-page-design .text-wrapper-7 {
    color: #131318;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  .landing-page-design .text-wrapper-8 {
    color: #131318b2;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 74px;
    width: 577px;
  }
  .landing-page-design .group-6 {
    height: 188px;
    left: 0;
    position: absolute;
    top: 150px;
    width: 531px;
  }
  .landing-page-design .text-wrapper-9 {
    color: #131318b2;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 0;
    width: 525px;
  }
  .landing-page-design .text-wrapper-10 {
    color: #131318b2;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 68px;
    width: 525px;
  }
  .landing-page-design .accumsan-eget-et {
    color: #131318b2;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 136px;
    width: 525px;
  }
  .landing-page-design .amet-consectetur {
    color: #5a5a5d;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 362px;
    width: 530px;
  }
  .landing-page-design .rectangle {
    height: 550px;
    left: 765px;
    object-fit: cover;
    position: absolute;
    top: 746px;
    width: 540px;
  }
  .landing-page-design .group-71 {
    border-radius: 8px;
    height: 52px;
    left: 135px;
    position: absolute;
    top: 1244px;
    width: 174px;
  }
  .landing-page-design .group-8 {
    left: 135px;
    position:absolute;
    top: 1244px;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
  }
  .landing-page-design .text-wrapper-11 {
    color: #FFF;
    white-space: nowrap;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .landing-page-design .group-9 {
    height: 126px;
    left: 398px;
    position: absolute;
    top: 1396px;
    width: 643px;
  }
  .landing-page-design .group-10 {
    height: 126px;
    position: relative;
    width: 647px;
  }
  .landing-page-design .text-wrapper-12 {
    color: #131318;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 82px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  .landing-page-design .text-wrapper-13 {
    color: #131318b2;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 74px;
    width: 643px;
  }
  .landing-page-design .group-11 {
    height: 126px;
    left: 398px;
    position: absolute;
    top: 2604px;
    width: 643px;
  }
  .landing-page-design .text-wrapper-14 {
    color: #131318;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 168px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  .landing-page-design .group-12 {
    height: 126px;
    left: 398px;
    position: absolute;
    top: 3470px;
    width: 643px;
  }
  .landing-page-design .deals-discounts {
    color: #131318;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 146px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  .landing-page-design .overlap-2 {
    background-image: url(../Images/Rectangle\ 5.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 300px;
    left: 135px;
    position: absolute;
    top: 1570px;
    width: 573px;
  }
  .landing-page-design .text-wrapper-15 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 28px;
    font-weight: 800;
    left: 226px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 131px;
  }
  .landing-page-design .overlap-3 {
    background-image: url(../Images/Rectangle\ 10.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 300px;
    left: 632px;
    position: absolute;
    top: 2204px;
    width: 673px;
  }
  .landing-page-design .text-wrapper-16 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 28px;
    font-weight: 800;
    left: 260px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 131px;
  }
  .landing-page-design .overlap-4 {
    background-image: url(../Images/Rectangle\ 8.png);
    background-size: 100% 100%;
    height: 300px;
    left: 732px;
    position: absolute;
    top: 1570px;
    width: 573px;
  }
  .landing-page-design .text-wrapper-17 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 28px;
    font-weight: 800;
    left: 220px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 131px;
  }
  .landing-page-design .overlap-5 {
    background-image: url(../Images/Rectangle\ 6.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 286px;
    left: 135px;
    position: absolute;
    top: 1894px;
    width: 374px;
  }
  .landing-page-design .text-wrapper-18 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 28px;
    font-weight: 800;
    left: 130px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 124px;
  }
  .landing-page-design .overlap-6 {
    background-image: url(../Images/Rectangle\ 11.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 300px;
    left: 135px;
    position: absolute;
    top: 2204px;
    width: 473px;
  }
  .landing-page-design .text-wrapper-19 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 28px;
    font-weight: 800;
    left: 155px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 131px;
  }
  .landing-page-design .overlap-7 {
    background-image: url(../Images/Rectangle\ 9.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 286px;
    left: 1031px;
    position: absolute;
    top: 1894px;
    width: 274px;
  }
  .landing-page-design .text-wrapper-20 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 28px;
    font-weight: 800;
    left: 81px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 124px;
  }
  .landing-page-design .overlap-8 {
    background-image: url(../Images/Rectangle\ 7.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 286px;
    left: 533px;
    position: absolute;
    top: 1894px;
    width: 474px;
  }
  .landing-page-design .text-wrapper-21 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 28px;
    font-weight: 800;
    left: 137px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 124px;
  }
  .landing-page-design .group-13 {
    background-color: #fbb5630d;
    border: 1px solid;
    border-color: #fbb56333;
    border-radius: 16px;
    height: 284px;
    left: 135px;
    position: absolute;
    top: 2778px;
    width: 573px;
  }
  .landing-page-design .group-14 {
    height: 220px;
    left: 31px;
    position: relative;
    top: 31px;
    width: 486px;
  }
  .landing-page-design .group-15 {
    height: 124px;
    left: 0;
    position: absolute;
    top: 96px;
    width: 490px;
  }
  .landing-page-design .text-wrapper-22 {
    color: #131318;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 24px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  .landing-page-design .amet-consectetur-2 {
    color: #5a5a5d;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 46px;
    width: 486px;
  }
  .landing-page-design .img-3 {
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
  }
  .landing-page-design .group-16 {
    background-color: #29cef60d;
    border: 1px solid;
    border-color: #29cef633;
    border-radius: 16px;
    height: 284px;
    left: 732px;
    position: absolute;
    top: 2778px;
    width: 573px;
  }
  .landing-page-design .text-wrapper-23 {
    color: #131318;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 24px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  .landing-page-design .group-17 {
    background-color: #e944440d;
    border: 1px solid;
    border-color: #e9444433;
    border-radius: 16px;
    height: 284px;
    left: 433px;
    position: absolute;
    top: 3086px;
    width: 573px;
  }
  .landing-page-design .group-18 {
    background-image: url(../Images/Group\ 39.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
    left: 135px;
    position: absolute;
    top: 3644px;
    width: 1170px;
  }
  .landing-page-design .group-19 {
    -webkit-backdrop-filter: blur(5px) brightness(100%);
    backdrop-filter: blur(5px) brightness(100%);
    background-color: #ffffffcc;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 16px;
    height: 389px;
    left: 535px;
    position: relative;
    top: 56px;
    width: 579px;
  }
  .landing-page-design .group-20 {
    height: 289px;
    left: 48px;
    position: relative;
    top: 48px;
    width: 452px;
  }
  .landing-page-design .group-21 {
    height: 241px;
    left: 0;
    position: absolute;
    top: 48px;
    width: 458px;
  }
  .landing-page-design .text-wrapper-24 {
    color: #ff5400;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 20px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 140px;
  }
  .landing-page-design .amet-consectetur-3 {
    color: #5a5a5d;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 46px;
    width: 452px;
  }
  .landing-page-design .group-22 {
    height: 52px;
    left: 0;
    position: absolute;
    top: 189px;
    width: 150px;
  }
  .landing-page-design .group-23 {
    height: 52px;
  }
  .landing-page-design .group-24 {
    height: 52px;
    width: 152px;
  }
  .landing-page-design .overlap-group-2 {
    background-color: #ff5400;
    border-radius: 8px;
    height: 52px;
    position: relative;
    width: 150px;
  }
  .landing-page-design .text-wrapper-25 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 20px;
    font-weight: 800;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
  }
  .landing-page-design .group-25 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 386px;
  }
  .landing-page-design .group-26 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 145px;
    display: inline-flex;
  }
  .landing-page-design .text-wrapper-26 {
    color: #5a5a5d;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
  }
  .landing-page-design .group-27 {
    height: 24px;
    left: 167px;
    position: absolute;
    top: 0;
    width: 98px;
  }
  .landing-page-design .group-28 {
    height: 24px;
    left: 287px;
    position: absolute;
    top: 0;
    width: 101px;
  }
  .landing-page-design .group-29 {
    background-image: url(../Images/Group\ 40.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
    left: 135px;
    position: absolute;
    top: 4168px;
    width: 1170px;
  }
  .landing-page-design .group-30 {
    -webkit-backdrop-filter: blur(5px) brightness(100%);
    backdrop-filter: blur(5px) brightness(100%);
    background-color: #ffffffcc;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 16px;
    height: 389px;
    left: 56px;
    position: relative;
    top: 56px;
    width: 579px;
  }
  .landing-page-design .group-31 {
    background-image: url(../Images/Group\ 39.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
    left: 0px;
    position: absolute;
    top: 524px;
    width: 1170px;
  }
  .landing-page-design .group-32 {
    height: 52px;
    left: 480px;
    position: absolute;
    top: 1072px;
    width: 210px;
  }
  .landing-page-design .group-33 {
    height: 52px;
    width: 212px;
  }
  .landing-page-design .overlap-group-3 {
    background-color: #ff5400;
    border-radius: 8px;
    height: 52px;
    position: relative;
    width: 210px;
    padding: 3px;
  }
  .landing-page-design .text-wrapper-27 {
    color: #ffffff;
    white-space: nowrap;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 20px;
    font-weight: 800;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    color: #FFF;
    font-style: normal;
  }
  .landing-page-design .group-34 {
    height: 424px;
    left: 0px;
    position: absolute;
    top: 1192px;
    width: 540px;
  }
  .landing-page-design .text-wrapper-28 {
    color: #131318;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: 60px;
    position: absolute;
    top: 0;
    width: 448px;
  }
  .landing-page-design .amet-consectetur-4 {
    color: #5a5a5d;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 144px;
    width: 532px;
  }
  .landing-page-design .group-35 {
    border-radius: 8px;
    background: #FF5400;
    border-radius: 8px;
    height: 52px;
    left: 0;
    position: absolute;
    top: 372px;
    width: 174px;
  }
  .landing-page-design .text-wrapper-29 {
    color: #131318;
    font-family: "Mulish-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 220px;
    width: 518px;
  }
  .landing-page-design .text-wrapper-30 {
    color: #131318;
    font-family: "Mulish-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 288px;
    width: 518px;
  }
  .landing-page-design .group-37 {
    background-image: url(../Images/Group\ 40089.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 424px;
    left: 555px;
    position: absolute;
    top: 1192px;
    width: 610px;
  }
  .landing-page-design .overlap-9 {
    border-radius: 16px;
    height: 424px;
    position: relative;
  }
  .landing-page-design .rectangle-2 {
    background: linear-gradient(180deg, rgb(19, 19, 24) 0%, rgba(19, 19, 24, 0) 100%);
    border-radius: 16px;
    height: 424px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-180deg);
    width: 610px;
  }
  .landing-page-design .group-38 {
    height: 4px;
    left: 24px;
    position: absolute;
    top: 395px;
    width: 562px;
  }
  .landing-page-design .group-39 {
    height: 4px;
  }
  .landing-page-design .group-40 {
    background-color: #ffffff4c;
    border-radius: 8px;
    height: 4px;
    width: 562px;
  }
  .landing-page-design .group-41 {
    background-color: #ffffff;
    border-radius: 8px;
    height: 4px;
    width: 87px;
  }
  .landing-page-design .group-42 {
    height: 24px;
    left: 24px;
    position: absolute;
    top: 355px;
    width: 100px;
  }
  .landing-page-design .group-43 {
    height: 24px;
  }
  .landing-page-design .group-44 {
    height: 24px;
    position: relative;
    width: 68px;
  }
  .landing-page-design .text-wrapper-31 {
    color: var(--dark-07);
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
  }
  .landing-page-design .group-45 {
    height: 24px;
    left: 482px;
    position: absolute;
    top: 355px;
    width: 104px;
  }
  .landing-page-design .gr45{
    display: inline-flex;
    gap: 2px; 
    width: 20px;
  }
  .landing-page-design .group-46 {
    height: 72px;
    left: 167px;
    position: absolute;
    top: 176px;
    width: 278px;
  }
  .landing-page-design .text-wrapper-32 {
    color: #ffffff;
    font-family: "Mulish-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 276px;
  }
  .landing-page-design .overlap-10 {
    background-image: url(../Images/Rectangle\ 8\ \(1\).png);
    background-position: 50% 50%;
    background-size: cover;
    height: 422px;
    left: 500px;
    position: absolute;
    top: 1716px;
    width: 672px;
  }
  .landing-page-design .group-47 {
    background-color: #ff5400;
    border-radius: 16px;
    height: 120px;
    left: 338px;
    position: relative;
    top: 251px;
    transform: rotate(-19.63deg);
    width: 324px;
  }
  .landing-page-design .group-48 {
    height: 74px;
    left: 40px;
    position: relative;
    top: 23px;
    width: 248px;
  }
  .landing-page-design .text-wrapper-33 {
    color: #ffffff;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 62px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  .landing-page-design .text-wrapper-34 {
    color: #ffffff;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 32px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 34px;
    white-space: nowrap;
  }
  .landing-page-design .group-49 {
    border: 1px solid;
    border-color: #ff5400;
    border-radius: 16px;
    height: 422px;
    left: 0px;
    position: absolute;
    top: 1716px;
    width: 474px;
  }
  .landing-page-design .group-50 {
    height: 98px;
    left: 39px;
    position: absolute;
    top: 39px;
    width: 354px;
  }
  .landing-page-design .get-your-daily-dose {
    color: #5a5a5d;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 46px;
    width: 350px;
  }
  .landing-page-design .line {
    height: 1px;
    left: 39px;
    object-fit: cover;
    position: absolute;
    top: 160px;
    width: 393px;
  }
  .landing-page-design .group-51 {
    height: 52px;
    left: 39px;
    position: absolute;
    top: 185px;
    width: 393px;
  }
  .landing-page-design .group-52 {
    height: 52px;
    width: 395px;
  }
  .landing-page-design .overlap-group-4 {
    background-color: #1313180d;
    border-radius: 8px;
    height: 52px;
    position: relative;
    width: 393px;
  }
  .landing-page-design .text-wrapper-35 {
    color: #1313184c;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
  }
  .landing-page-design .group-53 {
    height: 52px;
    left: 39px;
    position: absolute;
    top: 253px;
    width: 393px;
  }
  .landing-page-design .group-54 {
    background-color: #ff5400;
    border-radius: 8px;
    height: 52px;
    left: 39px;
    position: absolute;
    top: 329px;
    width: 393px;
  }
  .landing-page-design .group-55 {
    height: 25px;
    left: 148px;
    position: relative;
    top: 14px;
    width: 98px;
  }
  .landing-page-design .overlap-11 {
    background-color: #1313180d;
    height: 502px;
    left: 0;
    text-align: center;
    position:absolute;
    top: 538px;
    width: 1440px;
  }
  .landing-page-design .overlap-12 {
    height: 24px;
    left: 60px;
    position: absolute;
    top: 249px;
    width: 1320px;
  }
  .landing-page-design .social {
    height: 24px;
    left: 573px;
    position: absolute;
    top: 0;
    width: 174px;
  }
  .landing-page-design .line-2 {
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 872px;
    width: 1320px;
    height: 1px;
  }
  .landing-page-design .text-wrapper-36 {
    color: #5a5a5d;
    font-family: "Mulish-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 335px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 164px;
    width: 769px;
  }
  .landing-page-design .group-56 {
    height: 40px;
    left: 600px;
    position: absolute;
    top: 110px;
    width: 241px;
  }
  .landing-page-design .hero-travel-wrapper {
    height: 40px;
    left: 63px;
    position: absolute;
    top: 0;
    width: 180px;
  }
  .landing-page-design .hero-travel {
    color: transparent;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 32px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  .landing-page-design .span {
    color: #121218;
  }
  .landing-page-design .text-wrapper-37 {
    color: #ff5400;
  }
  .landing-page-design .group-57 {
    left: 0;
    position: absolute;
    top: 0;
    width: 174.322px;
    height: 24px;
    flex-shrink: 0;
  }
  .landing-page-design .line-3 {
    background: rgba(19, 19, 24, 0.10);
    height: 1px;
    left: 284px;
    object-fit: cover;
    position: absolute;
    top: 322px;
    width: 872px;
  }
  .landing-page-design .text-wrapper-38 {
    color: #131318;
    font-family: "Inter-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    left: 624px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 372px;
    white-space: nowrap;
  }
  .landing-page-design .group-58 {
    height: 48px;
    left: 135px;
    position: absolute;
    top: 0px;
    width: 274px;
  }
  .landing-page-design .hero-travel-2 {
    color: transparent;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 36px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  .landing-page-design .group-60 {
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
  }